<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket.IO with JWT Auth</title>
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
</head>
<body>
    <h1>Socket.IO with FastAPI and JWT (WebSocket Only)</h1>
    <input type="text" id="login-input" placeholder="Type a message" required/>
    <input type="password" id="passwd-input" placeholder="Type a message" required/>
    <div id="action-btn">
        <button id="connect-btn">Connect to WebSocket</button>
    </div>
    <button id="user-online">Connect to Online</button>
    <div id="rooms"></div>
    <div id="rooms-user"></div>
    <div id="messages"></div>

    <script type="module">
        let socket;
        let currentRoom = null;
        let access_token
        let actual_user

        async function getToken() {
            const response = await fetch('http://localhost:8000/login', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
              },
              body: new URLSearchParams({
                username: document.getElementById('login-input').value,
                password: document.getElementById('passwd-input').value
              }).toString()
            });
            const data = await response.json();
            console.log(data)
            if (data.access_token){
              document.getElementById('action-btn').innerHTML += '<button id="create-room-btn">Create Room</button>';
              document.getElementById('create-room-btn').addEventListener('click', async () => {
                    const roomName = prompt('Enter room name:');
                    if (roomName) {
                        const room = await createRoom(roomName);
                        console.log(`Room created: ${room.name}`);
                        loadRooms();
                    }
                });
            }
            sessionStorage.setItem('authToken', data.access_token);
            sessionStorage.setItem('user', data.user_id);
            document.getElementById('user-online').addEventListener('click', fetchOnlineUsers)
        }

        async function connectWebSocket() {
            await getToken()
          const access_token = sessionStorage.getItem('authToken')
            loadRooms()
            socket = io("http://localhost:8000/", {
                query: {
                    auth_token: access_token
                },
                transports: ["websocket"]
            });

            socket.on("connect", () => {
                console.log("Connected to WebSocket server!");
                const actual_user = sessionStorage.getItem('user')
                document.getElementById('messages').innerHTML += "<p>Connected to WebSocket</p>";
                socket.emit('register', { userId: actual_user });
            });

            socket.on("new_message", (data) => {
                console.log("Message from server:", data);
                const messagesDiv = document.getElementById('messages');
                messagesDiv.innerHTML += `<p>Server: ${data.content}</p>`;
            });

            socket.on('user_joined', function(data) {
              console.log(data)
                console.log(`User ${data.username} joined room`);
            });

            socket.on("disconnect", () => {
                console.log("Disconnected from WebSocket server");
                document.getElementById('messages').innerHTML += "<p>Disconnected from WebSocket</p>";
            });
        }

        async function loadRooms() {
            const response = await fetch('http://localhost:8000/rooms', {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${access_token}`
                }
            });
            const rooms = await response.json();
            const roomsDiv = document.getElementById('rooms');
            const userRoomsDiv = document.getElementById('rooms-user');
            roomsDiv.innerHTML = '<h2>Доступные комнаты</h2>';
            userRoomsDiv.innerHTML = '<h2>Комнаты пользователя</h2>';
            if (!rooms.length) {
              roomsDiv.innerHTML += `<p>${rooms.message}</p><hr>`;
              return
            }
            rooms.forEach(room => {
                const roomButton = document.createElement('button');
                roomButton.textContent = room.name;
                roomButton.id = `room-${room.name}`
                let roomsUsers = room.users.length ? room.users : []
                let userInRoom = roomsUsers.length
                                ? !!roomsUsers.find(user => user.id === Number(actual_user))
                                : false
                if (userInRoom) {
                  roomButton.addEventListener('click', e => enterRoom(room.id))
                  userRoomsDiv.appendChild(roomButton)
                } else {
                  roomButton.addEventListener('click', e => joinRoom(e, room.id, room.name))
                  roomsDiv.appendChild(roomButton);
                }
            });
        }

        async function createRoom(name) {
            const response = await fetch('http://localhost:8000/rooms', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${access_token}`
                },
                body: JSON.stringify({ name })
            });
            const room = await response.json();
            return room;
        }

        async function joinRoom(e, roomId, roomName) {
            await socket.emit('connect_room', { room_id: roomId, user_id: actual_user });
            const btnRoom = document.getElementById(`room-${roomName}`)
            const roomsDiv = document.getElementById('rooms');
            const userRoomsDiv = document.getElementById('rooms-user')
            roomsDiv.removeChild(e.target)
            userRoomsDiv.appendChild(btnRoom);
            e.target.removeEventListener('click', joinRoom)
            e.target.addEventListener('click', e => enterRoom(roomId))
            console.log(`Joined room ${roomId}`);
        }

        async function enterRoom(roomId) {
          window.location.href = `/chat/${roomId}-${actual_user}/`;
        }

        async function fetchOnlineUsers() {
            const response = await fetch('http://localhost:8000/online-users');
            const onlineUsers = await response.json();
            console.log('Пользователи онлайн:', onlineUsers);
        }

        document.getElementById('connect-btn').addEventListener('click', () => {
            connectWebSocket();
        });
    </script>
</body>
</html>
