<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application</title>
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
</head>
<body>
    <h1 id="title-room" data-room-id="{{room.id}}">Комната {{room.name}}</h1>

    <div>
        <h2>Send Message</h2>
        <form id="message-form">
            <input type="text" id="message-input" placeholder="Type a message" required/>
            <button type="submit">Send</button>
        </form>
    </div>

    <div>
        <h2>Messages</h2>
        <div id="messages"></div>
    </div>

    <script>
        const access_token = sessionStorage.getItem('authToken');
        const roomId = document.getElementById('title-room').getAttribute('data-room-id')
        socket = io("http://localhost:8000/", {
                query: {
                    auth_token: access_token
                },
                transports: ["websocket"]
            });

        // Function to handle form submission
        document.getElementById('message-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const messageInput = document.getElementById('message-input');
            const message = messageInput.value;

            socket.emit('send_message', { content: message, room_id: roomId });

            messageInput.value = '';
        });

        socket.on('connect', function() {
            console.log('Connected to server');
            socket.emit('join_room', roomId);
        });

        socket.on('new_message', function(data) {
            response = JSON.parse(data)
            const messagesDiv = document.getElementById('messages');
            messagesDiv.innerHTML += `<div style="display: flex; align-items: center;"><p>${response.username}</p>: <p style="margin-left: 7px;">${response.content}</p></div>`;
        });
    </script>
</body>
</html>
