.menu {
  .logo-mini {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 56px;
    height: auto;
    margin: 10px auto 0;
    gap: 20px;

    img {
      width: inherit;
      height: 56px;
    }
    .exit-icon {
      position: relative;
      width: 24px;
      height: 24px;
      left: -5px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .menu-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 100%;
    width: 100%;
  }

  .el-icon {
    height: 56px;
    width: 56px;
    margin: 0 auto;
    border-radius: 10px;
    color: rgba(34, 37, 47, 0.75);
    &:hover,
    &.active {
      border-radius: 10px;
      background: #cde9ff;
      color: #058fff;
      cursor: pointer;
    }
    &.hasMes:before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      right: 10px;
      top: 10px;
      border-radius: 50%;
      background: #409eff;
    }
  }
}