.personal-account-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .messenger {
    display: grid;
    grid-template-columns: 70px 200px auto;
    width: 750px;
    height: 90vh;
    margin: 0 auto;
    border: 2px solid #e9eaf1;
    border-radius: 30px;
  }

  .menu,
  .list_items_menu {
    border-right: 2px solid #e9eaf1;
  }

  .list_items_menu {
    background: rgb(246, 247, 249);
  }

  .logo-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .logo {
      width: 260px;
      height: 500px;
    }
  }
}